@namespace MudBlazor
@using MudBlazor.Interfaces
@inherits MudComponentBase

<div @attributes="UserAttributes"
     class="@Classname"
     style="@Style"
     @onpointerenter="@PointerEnterAsync"
     @onpointerleave="@PointerLeaveAsync"
     @oncontextmenu="@((ActivationEvent == MouseEvent.RightClick ? ToggleMenuAsync : null)!)"
     @oncontextmenu:preventDefault="@(ActivationEvent == MouseEvent.RightClick)"
     @oncontextmenu:stopPropagation="@(ActivationEvent == MouseEvent.RightClick)"
     @onkeydown="TrackKeyboardInteraction">
    @if (GetActivatorHidden())
    {
        @* No content was set so no need to render anything *@
    }
    else if (ActivatorContent is not null)
    {
        <CascadingValue 
            Value="@((IActivatable)this)" 
            IsFixed="true">
            @if (ParentMenu is null)
            {
                <div @onclick="ToggleMenuAsync"
                     @onkeydown="HandleActivatorKeydown"
                     disabled="@Disabled"
                     class="@ActivatorClassname"
                     tabindex="0"
                     role="button"
                     aria-haspopup="true"
                     aria-expanded="@_openState.Value">
                    @ActivatorContent
                </div>
            }
            else
            {
                <MudMenuItem @ref="_menuItemActivator"
                             Class="mud-menu-sub-menu-activator"
                             Disabled="@Disabled"
                             OnClick="OpenSubMenuAsync"
                             AutoClose="false"
                             HideSubMenuArrow="true"
                             aria-haspopup="true"
                             aria-expanded="@_openState.Value"
                             aria-label="@AriaLabel">
                    @ActivatorContent
                </MudMenuItem>
            }
        </CascadingValue>
    }
    else if (string.IsNullOrEmpty(Icon))
    {
        if (ParentMenu is null)
        {
            <MudButton @ref="_buttonActivator"
                       Class="mud-menu-button-activator"
                       StartIcon="@StartIcon"
                       EndIcon="@EndIcon"
                       IconColor="@IconColor"
                       Color="@Color"
                       Size="@Size"
                       Variant="@Variant"
                       Disabled="@Disabled"
                       Ripple="@Ripple"
                       DropShadow="@DropShadow"
                       OnClick="@ToggleMenuAsync"
                       aria-label="@AriaLabel">
                @Label
            </MudButton>
        }
        else
        {
            <MudMenuItem @ref="_menuItemActivator"
                         Class="mud-menu-sub-menu-activator"
                         Icon="@StartIcon"
                         IconColor="@IconColor"
                         Disabled="@Disabled"
                         OnClick="OpenSubMenuAsync"
                         AutoClose="false"
                         Label="@Label"
                         aria-label="@AriaLabel">
                @Label
            </MudMenuItem>
        }
    }
    else
    {
        <MudIconButton @ref="_iconButtonActivator"
                       Class="mud-menu-icon-button-activator"
                       Variant="@Variant"
                       Icon="@Icon"
                       Color="@Color"
                       Size="@Size"
                       Disabled="@Disabled"
                       Ripple="@Ripple"
                       DropShadow="@DropShadow"
                       OnClick="@ToggleMenuAsync"
                       aria-label="@AriaLabel" />
    }

    @* The portal has to include the cascading values inside because it's not able to teletransport the cascade *@
    <MudPopover Open="@_openState.Value"
                Class="@PopoverClassname"
                UserAttributes="@PositionAttributes"
                MaxHeight="@MaxHeight"
                AnchorOrigin="@GetAnchorOrigin()"
                TransformOrigin="@TransformOrigin"
                RelativeWidth="@RelativeWidth"
                Fixed="@PopoverFixed"
                OverflowBehavior="@GetOverflowBehavior()"
                DropShadow="@DropShadow"
                Duration="@(GetDense() ? 0 : MudGlobal.TransitionDefaults.Duration.TotalMilliseconds)">
        <CascadingValue Value="@this">
            <div id="@_elementId"
                 data-testid="menu-wrapper"
                 @ref="_menuWrapperRef"
                 @onkeydown="HandleKeyDownAsync"
                 @onpointerenter="@PointerEnterAsync"
                 @onpointerleave="@PointerLeaveAsync">
                <MudList T="object"
                         Class="@ListClassname"
                         Dense="@Dense">
                    @ChildContent
                </MudList>
            </div>
        </CascadingValue>
    </MudPopover>
    @if (ParentMenu is null)
    {
        <MudOverlay Visible="_openState.Value && !_isTransient"
                    AutoClose
                    OnClosed="CloseMenuAsync"
                    LockScroll="LockScroll"
                    Modal="@GetModal()" />
    }
</div>
