@namespace MudBlazor
@inherits MudComponentBase

<div id="@FieldId"
     @attributes="UserAttributes"
     class="@Classname"
     style="@Style"
     @onpointerenter="@PointerEnterAsync"
     @onpointerleave="@PointerLeaveAsync"
     @oncontextmenu="@(ActivationEvent == MouseEvent.RightClick && ActivatorContent is null ? ToggleMenuAsync : (args => Task.CompletedTask))"
     @oncontextmenu:preventDefault="@(ActivationEvent == MouseEvent.RightClick)"
     @oncontextmenu:stopPropagation="@(ActivationEvent == MouseEvent.RightClick)"
     @onkeydown="TrackKeyboardInteraction">
    @if (GetActivatorHidden())
    {
        @* No content was set so no need to render anything *@
    }
    else if (ActivatorContent is not null)
    {
        @if (ParentMenu is null)
        {
            <div @onkeydown="HandleActivatorKeydown"
                 disabled="@Disabled"
                 class="@ActivatorClassname"
                 tabindex="0"
                 role="button"
                 aria-haspopup="true"
                 aria-expanded="@_openState.Value">
                @ActivatorContent(_menuContext)
            </div>
        }
        else
        {
            <MudMenuItem @ref="_menuItemActivator"
                         Class="mud-menu-sub-menu-activator"
                         Disabled="@Disabled"
                         OnClick="OpenSubMenuAsync"
                         AutoClose="false"
                         HideSubMenuArrow="true"
                         aria-haspopup="true"
                         aria-expanded="@_openState.Value"
                         aria-label="@AriaLabel">
                @ActivatorContent(_menuContext)
            </MudMenuItem>
        }
    }
    else if (string.IsNullOrEmpty(Icon))
    {
        if (ParentMenu is null)
        {
            <MudButton @ref="_buttonActivator"
                       Class="mud-menu-button-activator"
                       StartIcon="@StartIcon"
                       EndIcon="@EndIcon"
                       IconColor="@IconColor"
                       Color="@Color"
                       Size="@Size"
                       Variant="@Variant"
                       Disabled="@Disabled"
                       Ripple="@Ripple"
                       DropShadow="@DropShadow"
                       OnClick="@ToggleMenuAsync"
                       aria-label="@AriaLabel">
                @Label
            </MudButton>
        }
        else
        {
            <MudMenuItem @ref="_menuItemActivator"
                         Class="mud-menu-sub-menu-activator"
                         Icon="@StartIcon"
                         IconColor="@IconColor"
                         Disabled="@Disabled"
                         OnClick="OpenSubMenuAsync"
                         AutoClose="false"
                         Label="@Label"
                         aria-label="@AriaLabel">
                @Label
            </MudMenuItem>
        }
    }
    else
    {
        <MudIconButton @ref="_iconButtonActivator"
                       Class="mud-menu-icon-button-activator"
                       Variant="@Variant"
                       Icon="@Icon"
                       Color="@Color"
                       Size="@Size"
                       Disabled="@Disabled"
                       Ripple="@Ripple"
                       DropShadow="@DropShadow"
                       OnClick="@ToggleMenuAsync"
                       aria-label="@AriaLabel" />
    }

    @* The portal has to include the cascading values inside because it's not able to teletransport the cascade *@
    <MudPopover Open="@_openState.Value"
                Class="@PopoverClassname"
                UserAttributes="@PositionAttributes"
                MaxHeight="@MaxHeight"
                AnchorOrigin="@GetAnchorOrigin()"
                TransformOrigin="@TransformOrigin"
                RelativeWidth="@RelativeWidth"
                Fixed="@PopoverFixed"
                DropShadow="@DropShadow"
                Duration="@GetTransitionDuration()">
        <CascadingValue Value="@this">
            <div id="@_elementId"
                 data-testid="menu-wrapper"
                 @ref="_menuWrapperRef"
                 @onkeydown="HandleKeyDownAsync"
                 @onpointerenter="@PointerEnterAsync"
                 @onpointerleave="@PointerLeaveAsync">
                <MudList T="object"
                         Class="@ListClassname"
                         Dense="@Dense">
                    @ChildContent
                </MudList>
            </div>
        </CascadingValue>
    </MudPopover>
    @if (ParentMenu is null)
    {
        <MudOverlay Visible="_openState.Value && !_isTransient"
                    AutoClose
                    data-modeless-ignore-element-id="@FieldId"
                    OnClosed="CloseMenuAsync"
                    LockScroll="LockScroll"
                    Modal="@GetModal()" />
    }
</div>
